.button{
  background: var(--orange-100);
  border-radius: 12px;
  padding: 20px 24px;
  border: 0;
  color: var(--white-100);
  text-align: center;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  line-height: 116%;
  max-width: 296px;
  min-width: 296px;
  transition: .3s;

  &:hover{
    background: var(--orange-80);
  }

  &:active{
    background: var(--orange-120);
  }

  &_loading{
    background: var(--black-40);
    cursor: default;

    &:hover{
      background: var(--black-40);
    }
  }
}